environment:
  matrix:
    - node_version: 'stable'
branches:
  only:
    - main
install:
  - ps: Install-Product node $env:node_version
test_script:
  - npm run setup
cache:
  - ./node_modules -> package-lock.json
build: off
